
.nav-button{
    height: 50px;
    width: 100px;
    border: none;
    color: #4A342E;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    background-color: #F4E0C9;
    border-radius: 10px;
    transition: all 0.5s linear 0s;
}
.nav-button:hover{
    height: 50px;
    width: 100px;
    border: none;
    color: #F4E0C9;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    background-color: #4A342E;
    border-radius: 10px;
}
.background{
    background-color: #F4E0C9;
}
.bbtext{
    margin-top: 23px;
    color: #4A342E;
    font-family: "arial";
    cursor: pointer;
    font-weight: bold;
}