.bg-6{
    background-color: #1F1B1D;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
.te-title{
    color: #E7D1B0;
    text-align: center;
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.te-card{
    min-height: 220px;
    width: 90vw;
    max-width: 400px;
    border: 2px solid #E7D1B0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 32px;
    box-sizing: border-box;
}
.te-alignment{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.te-card-text{
    padding: 16px;
    color: #E7D1B0;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}
.te-card-author{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: end;
    margin-right: 20px;
    color: #E7D1B0;
    font-weight: bold;
    font-size: 1.1rem;
}
@media (min-width: 768px) {
    .te-alignment {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 24px;
    }
    .te-card {
        width: 400px;
        min-height: 400px;
    }
    .te-card-text, .te-card-author {
        font-size: 20px;
        text-align: left;
    }
}