.bg-2{
    background-color: #1F1B1D;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
.image-2{
    height: auto;
    width: 90vw;
    max-width: 300px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    transition: all 0.2s linear 0s;
}
.image-2:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.image-21{
    height: auto;
    width: 90vw;
    max-width: 300px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    transition: all 0.2s linear 0s;
}
.image-21:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.s-heading{
    color: #E7D1B0;
    font-family: "Cormorant Garamond";
    margin-top: 50px;
    text-align: center;
    transition: all 0.2s linear 0s;
}
.s-heading:hover{
    color: white;
    font-family: "Cormorant Garamond";
     margin-top: 50px;
}
.s-para{
    color: #E7D1B0;
    font-family: "Times New Roman";
    text-align: center;
    transition: all 0.2s linear 0s;
}
.s-para:hover{
    color: white;
    font-family: "Times New Roman";
}
.s-button{
    background-color: #1F1B1D;
    border-color: #E7D1B0;
    color: #E7D1B0;
    height: 50px;
    width: 80%;
    max-width: 200px;
    border-radius: 10px;
    display: block;
    margin: 20px auto 0 auto;
    transition: all 0.2s linear 0s;
}
.s-button:hover{
    background-color: #1F1B1D;
    border-color: #E7D1B0;
    color: #E7D1B0;
    height: 50px;
    width: 80%;
    max-width: 200px;
    border-radius: 10px;
    transform: scale(1.05)
}
.alignment{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .alignment {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .image-2, .image-21 {
        max-width: 300px;
        margin: 50px 0 0 150px;
        display: inline-block;
    }
    .s-heading, .s-para {
        text-align: left;
    }
    .s-button {
        margin-left: 0;
        width: 150px;
    }
}
